<section>
  <form>
    <caption>
      خدمة الحصول على وثائق قيود الاحوال المدنية
    </caption>
    <select>
      <option value="">-- خدمة --</option>
      <option value="dog">بيان القيد الفردي</option>
      <option value="cat">بيان زواج</option>
      <option value="hamster">بيان وفاة</option>
      <option value="parrot">بيان طلاق</option>
      <option value="spider">بيان ولادة</option>
    </select>
    <select>
      <option value="">-- المدينة --</option>
      <option value="lattakia">اللاذقية</option>
      <option value="cat">دمشق</option>
      <option value="hamster">طرطوس</option>
      <option value="parrot">حمص</option>
    </select>
    <div class="input">
      <label>-- التاريخ --</label>
      <input type="date" placeholder="datge" />
    </div>
    <input type="submit" value="حجز" />
  </form>
</section>
