section {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .parallax {
    background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .motto {
    position: absolute;
    top: 10rem;
    p {
      font-size: 12rem;
      color: black;
      text-shadow: 4px 4px 10px white;
    }
    span {
      position: absolute;
      top: 12rem;
      left: 0;
      font-size: 2rem;
      text-shadow: 4px 4px 10px white;
    }
  }
  .info {
    width: 100%;
    background-color: #0794c4;
    height: 40rem;
  }
}

@media screen and (max-width: 767px) {
  section {
    .motto {
      top: 12rem;
      p {
        font-size: 8rem;
      }
      span {
        top: 8rem;
      }
    }
  }
}
